body{
    font-family:Comfortaa;
}
.workarea{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-size:2rem;
}
.navlinks li{
    position:relative;
}
.navlinks li a{
    color:#000000;
}
.navlinks li a:hover{
    color:#f00;
}
.image{
   height:500px;
   object-fit:cover;
   position:static;
}
.carousel-caption{
    justify-content: center;
}
.carousel-caption h5{
    font-size: 2rem;
}
.carousel-caption p{
    font-size: 1.5rem;
}

.image1{
    height:80%;
    width:75%;
    margin:1rem;
    border-radius: 1.5rem;
}
.service {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.service-head {
    font-size: 2rem;
    color: #000;
    text-align: center;
    margin-bottom:2rem;
}
.servicetext{
    color:#000;
    font-size:1.5rem;
    text-align:center;
}
.about {
    text-align: center;
}
.about p{
    color:#ffffff;
    text-align: center;
    font-size: 1.4rem;
}
.aboutus{
    background:url(https://www.syberry.com/video/video-intro-poster.6ce01742.jpg);
}
.aboutus h2{
    padding-top:1rem;
}
.about .fa-solid,.fa-regular{
    color: #40ff00;
    font-size: 3rem;
    margin-bottom:0.5rem;
}
.box {
    text-align: center;
}
.box p{
    font-size: 1rem;
}
.box .fa-solid {
    color: rgb(251, 92, 0);
    font-size: 3.5rem;
    margin-bottom:2rem;
}
.faq{
    font-size:1.3rem;
}
.cimage{
    border-radius: 1rem;
    height:60%;
    width:60%;
    margin-left:3.5rem;
    margin-top:1rem;
}
.team{
    background:url(https://t3.ftcdn.net/jpg/02/98/90/74/360_F_298907406_MPWwwLXkNGDQjbX69PpYuE1i2EZntqs6.jpg);
}
.rate{
    height:1.5rem;
}
.name{
    font-size:1.5rem;
}
.foot {
    color: #fff;
    background: #000;
}
.contact ul li{
    list-style: none;
    padding:0.5rem;
}
.contact ul li a{
    font-size:2rem;
    color:#c88ed9;
}
.contact{
    margin:1em;
}
.contact {
    font-size:1.1rem;
}
.links {
    font-size:1.1rem;
}
.nletter p{
    font-size:1.1rem;
}
.links{
    margin:0.8rem;
}
.links ul li{
    list-style:square;
    padding:0.4rem;
}
.links ul li a{
    text-decoration: none;
    color:#fff;
}
.links ul li a:hover{
    color:#7cac5e;
}
.nletter{
    margin:1rem;
}
.cright{
    padding:0.5rem; 
    font-size:1.5rem;
}
@media (max-width:768px){
    .logo{
        font-size:1.6rem;
    }
    .carousel-caption h5{
        font-size: 1.6rem;
    }
    .carousel-caption p{
        font-size: 1.2rem;
    }
    .service-head {
        font-size: 1.6rem;
    }
    .servicetext{
        font-size:1.2rem;
    }
    .about p{
        font-size: 1rem;
    }
    .about .fa-solid,.fa-regular{
        font-size: 2.5rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .box .fa-solid {
        font-size: 3rem;
    }
    .faq{
        font-size:1rem;
    }
    .rate{
        height:1.3rem;
    }
    .name{
        font-size:1.3rem;
    }
    .contact ul li a{
        font-size:1.7rem;
    }
    .contact {
        font-size:0.9rem;
    }
    .cright{
        font-size:1.3rem;
    }
    .cimage{
        margin-left:2rem;
        margin-top:1rem;
    }
    .links {
        font-size:0.9rem;
    }
    .nletter p{
        font-size:0.9rem;
    }
}
@media (max-width:425px){
    .logo{
        font-size:1.3rem;
    }
    .carousel-caption h5{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    .service-head {
        font-size: 1.4rem;
    }
    .servicetext{
        font-size:1rem;
    }
    .about p{
        font-size: 0.8rem;
    }
    .about .fa-solid,.fa-regular{
        font-size: 2rem;
    }
    .box p{
        font-size: 0.8rem;
    }
    .box .fa-solid {
        font-size: 3rem;
    }
    .faq{
        font-size:1rem;
    }
    .rate{
        height:1.1rem;
    }
    .name{
        font-size:1.1rem;
    }
    .contact ul li a{
        font-size:1.4rem;
    }
    .cright{
        font-size:1rem;
    }
    .contact {
        font-size:0.7rem;
    }
    .links {
        font-size:0.7rem;
    }
    .nletter p{
        font-size:0.7rem;
    }
}